/* *{
    border: 1px solid black;
} */


body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh; 
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12% 80% 8%;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
}

header {
    font-size: 15pt;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "name pages"
    ;
    padding-top: 15px;
    position: sticky;
    top: 0;
    background-color: white;

}


.name {
    grid-area: name;
    margin: 10px;
}

.pages {
    grid-area: pages;
    margin: 10px;
    justify-self: end;
}
/* end of header  */


/* main top content  */
main {
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "topHeroContent topHeroContent"
        "btmContent btmContent";   
}


/* top hero content  */
.topHeroContent {
    margin: 50px;
    padding-bottom: 5%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "intro hero"    ;
   
}

.intro {
    grid-area: intro;
    align-self: center;
    line-height: 1.5;
    
}
p {
    letter-spacing: 1.25px;
}
#title {
    font-weight: bold;
    font-size: 45pt;
}
.hero {
    align-self: center;
    grid-area: hero;
    /* position: relative; */
    
}

a {
    margin-left: 25px;
    margin-right: 25px;
}

.bkgdblock {
    width:550px;
    height:500px;
    background: linear-gradient(357deg, rgba(236,244,236,1) 0%, rgba(199,227,233,1) 100%); 
    background-position: 141% 0,0 0;
}


.child {
    padding-top:100px;
    padding-left: 50px;
    width: 500px;
}


/* bottom contnet  */

.btmContent {
    padding-left: 100px;
    grid-area: btmContent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "card1 card2"
        "card3 card4";
    
    
}

.card1 .card2 .card3 .card4 {
    grid-area: card1 card2 card3 card4;
    border: white; 
   
} 
.card-img-top {
    width: 400px;
    height: 400px;
   
}
.card1 {
    width: 80%;
    margin-bottom: 50px; 
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}


.card2 {
    width: 80%;
    margin-bottom: 50px; 
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
.card3 {
     width: 80%;
    margin-bottom: 50px; 
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.card4 {
     width: 80%;
    margin-bottom: 50px; 
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.card-body {
    background-color: white;
}

h4 {
    font-weight: 600;
}
.card-text {
    line-height: 1.5;
}

footer {
    grid-area: footer;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.chat-fixed {
    position: fixed;
    /* width: 10px; */
}

/* @media all screen and (max-width:414px) {
    body {
        background: lightblue;
    }
} */