/* *{
    border: 1px solid black;
} */


body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh; 
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12% 80% 8%;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
}

header {
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "name pages"
    ;
    padding-top: 15px;
    position: sticky;
    top: 0;
    background-color: white;

}


.name {
    grid-area: name;
    margin: 10px;
}

.pages {
    grid-area: pages;
    margin: 10px;
    justify-self: end;
}
/* end of header  */


/* main top content  */
main {
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "topHeroContent topHeroContent"
        "btmContent btmContent";
}


/* top hero content  */
.topHeroContent {
    margin: 50px;
    padding-bottom: 5%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "intro hero"    ;
   
}

.intro {
    grid-area: intro;
    align-self: center;
    line-height: 1.5;
    
}
p {
    letter-spacing: 1.25px;
}
#title {
    font-weight: bold;
    font-size: 45pt;
}
.hero {
    align-self: center;
    grid-area: hero;
    /* position: relative; */
    
}

a {
    margin-left: 25px;
    margin-right: 25px;
}

.bkgdblock {
    width:550px;
    height:500px;
    background: rgb(242,252,237);
    background: linear-gradient(22deg, rgba(242,252,237,1) 0%, rgba(191,244,255,1) 100%);
    
    background: linear-gradient(357deg, rgba(236,244,236,1) 0%, rgba(199,227,233,1) 100%); 
    background-position: 141% 0,0 0;
    
    background-repeat: no-repeat,repeat;
    box-shadow: inset 0 0 0 1px #fff;
}

.child {
    width: 100%;
    
}


/* bottom contnet  */

.btmContent {
    margin: 50px;
    grid-area: btmContent;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "card1 card2"
        "card3 card4";
    
    
}

.card1 .card2 .card3 .card4 {
    grid-area: card1 card2 card3 card4;
    /* padding-bottom: 15%; */
    border: white;  
    padding: 20px;  
} 
h4 {
    font-weight: 600;
}
.card-text {
    line-height: 1.5;
}
.bg_block {
    width: 550px;
    height: 556px;
    color: pink;
}

footer {
    grid-area: footer;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}