/* * {
    border: 1px solid black;
} */


body {
    /* height: 100vh; */
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    row-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    /* align-content: center; */
}

header {
    grid-area: header;
    
}
footer {
    grid-area: footer;
}


main {
    grid-area: main;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-bottom: 15%; */

    /* body grid  */
    display: grid;
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr .75fr 1fr 1fr 1fr .5fr .5fr;
    grid-template-areas: 
        "top"
        "overview"
        "research"
        "wireframes"
        "hi-fi"
        "conclusion"
        "nextCase"
    ;
    text-align: center;
    justify-content: center;
}
#top {
    grid-area: top;
    grid-gap: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#overview {
    grid-area: overview;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
#research {
    grid-area: research;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#wireframes #hi-fi{

    grid-area: wireframes;
    grid-area: hi-fi;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#caseCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.card {
    border: transparent;
}
#nextCase {
    grid-area: nextCase;
}

#conclusion {
    grid-area: conclusion;
}


